################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Coup/v14
/player.pyc
/Coup.pyc
/card.pyc
/actions.pyc
*.pyproj
